.button-container {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  display: flex;
}

button{
  background: red;
  font-size: 16px;
  border-radius: 20px;
  padding: 8px;
}

button:hover {
  background: green;
}